@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@50;100;200;300;400;500;600;700;800;900&display=swap');


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: url('https://studioghiblimovies.com/wp-content/uploads/2020/03/73-737065_living-waters-ag-wave-vector-clipart.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
	height: 100%;
}

table{
  width: auto;
  text-align: center;
  background: rgba(38, 61, 48, 0.75);
  color: white;
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  top: 150px;
  margin: auto;
  text-decoration: none;
}

table, tr, td{
  font-size: 22px;
  transition-property: color, background;
  transition: 0.3s ease;
  overflow: auto;
  /*height: 55px;
  width: 450px;*/
  height: 55px;
  width: 420px;
  text-decoration: none;
}



td.hvr{
  background: rgba(0, 0, 0, 0.50);
  border-radius: 0px;
  color: #white;
  margin: 0;
  padding: 0;
}

td.hvr:hover{
  background: rgba(194, 162, 34, 0.83);
  color: #03190D;
  border-radius: 40px;
  cursor: pointer;
}

td.mhvr{
  background: rgba(13, 103, 135, 0.44);
  color: white;
}

.dhvr{
  background: #855e43;
}

tr:nth-child(1){
  font-weight: bold;
  background: rgba(0, 0, 0, 0.4)
}

tr:nth-child(2){
  font-weight: 500;
  background: rgba(0, 0, 0, 0.25);
}

.back{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  background: #0D6687;
  width: 70px;
  height: 25px;
  text-align: center;
  border-radius: 20px;
  border-style: dotted;
	border-color: rgba(0, 0, 0, 0);
  transition-property: color, background;
  transition: 0.3s ease;
  position: fixed;
  right: 50px;
  bottom: 30px;
}

.back:hover{
  color: white;
  background: #03190D;
  cursor: pointer;
}

td{
    position: relative;
}

a{
  text-decoration: none;
  color: white;
  transition-property: color;
  transition: 0.3s ease;
  top: 0;
  left: 0;
  display: block;
}

a:hover{
  color: #03190D
}
